# Auto detect text files and perform LF normalization
*     text=auto

# Tell GitHub that these files are SourcePawn
*.sma text linguist-language=sourcepawn
*.inc text linguist-language=sourcepawn

*.txt text
